<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">
    <h5 class="card-header text-center">
      <img src="../assets/lco.png" alt="" width="30" height="30" class="mr-2" />
      LCO Signup Form
    </h5>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-6">
            <label>First Name</label>
            <input type="text" class="form-control" 
            formControlName="firstName"
            [ngClass]=" {'is-invalid' : submitted && rfc.firstName.errors} "
            />
            <div *ngIf=" submitted && rfc.firstName.errors" class="text-warning">
              <div *ngIf="rfc.firstName.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input type="text" class="form-control"
            [ngClass]=" {'is-invalid' : submitted && rfc.lastName.errors} "
            formControlName="lastName" />
            <div *ngIf=" submitted && rfc.lastName.errors" class="text-warning">
              <div *ngIf="rfc.lastName.errors.required">
                Last Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control"
          [ngClass]=" {'is-invalid' : submitted && rfc.email.errors} "
          formControlName="email" />
          <div *ngIf=" (rfc.email.touched || submitted) && rfc.email.errors" class="text-warning">
            <div *ngIf="rfc.email.errors.required">
              Email is required
            </div>
            <div *ngIf="rfc.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label>Password</label>
            <input type="password" class="form-control"
            [ngClass]=" {'is-invalid' : submitted && rfc.password.errors} "
            formControlName="password" />
            <div *ngIf=" (rfc.password.touched || submitted) && rfc.password.errors" class="text-warning">
              <div *ngIf="rfc.password.errors.required">Password is required</div>
              <div *ngIf="rfc.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input type="password" class="form-control" 
            [ngClass]=" {'is-invalid' : submitted && rfc.confirmPassword.errors} "
            formControlName="confirmPassword"/>
            <div *ngIf=" (rfc.password.touched || submitted) && rfc.confirmPassword.errors" class="text-warning">
              <div *ngIf="rfc.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="rfc.confirmPassword.errors.mustmatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" id="acceptTerms" class="form-check-input"
          [ngClass]=" {'is-invalid' : submitted && rfc.tcs.errors} "
          formControlName="tcs" />
          <label for="acceptTerms" class="form-check-label"
            >Accept Terms & Conditions</label
          >
          <div *ngIf="submitted && rfc.tcs.errors.required" class="text-warning">
            Accept Ts & Cs is required
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success btn-lg px-4 mr-3">Register</button>
          <button class="btn btn-warning" type="reset" (click)="onReset()">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
